*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.abc{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 500px;
    height: 800px;

}
.abc1{
    font-weight: bolder;
  margin-top: 40%;
  margin-bottom: 20px;
  text-shadow: 2px 2px 2px rgb(217, 235, 217);
  
}
/*background:#c7d5e4;*/ 
.xyz{
  background:#c7d5e4;
}
.navbar-nav li {
  padding: 10px;
}
.nav-item1{
 
  margin: 8px;
  border-radius: 10px;
  color: black;
}
.nav-item2{
  
  margin: 8px;
  border-radius: 10px;
  color: black;
}
.nav-item3{
  
  margin: 8px;
  border-radius: 10px;
  color: black;
}
.nav-item4{
  
  margin: 8px;
  border-radius: 10px;
  color: black;
}


.nav-item1:hover{
  background-color: rgb(245, 226, 226);
}
.nav-item2:hover{
  background-color: rgb(245, 226, 226);
}
.nav-item3:hover{
  background-color: rgb(245, 226, 226);
}
.nav-item4:hover{
  background-color: rgb(245, 226, 226);
}
.c1{
  font-size: 20px;
}

.labcare1{
  font-size: 2.5rem;
  word-spacing: 5px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 3px white;
}
.labcare2{
 
  word-spacing: 5px;
  letter-spacing: 3px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 3px white;
}
.about1:hover{
   color: white;
   text-decoration: none;
}
main{

  padding: 30px;
}

#ABOUTUS{
  background-color: #f0eeee;
  padding: 25px;
  border-radius: 20px;
}
#ABOUTUS p{
  color: rgb(0, 0, 0);
  font-size: 18px;

  
  word-spacing: 5px;
  
}

.aboutus{
    text-align: center;
    background-color: rgb(233, 195, 195);
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 500px;

}
.aboutus h1{
  padding: 20px;
  font-size: 2rem;
}
.about2{
  font-size: 2.5rem;
  color: #2F4F4F;
   margin-right: 10px;
}
@media screen and (max-width:1000px){
  #ABOUTUS{
    background-color: #f0eeee;
    padding: 25px;
    border-radius: 20px;
  }
  #ABOUTUS p{
    color: rgb(0, 0, 0);
    font-size: 16px;
  
   
    
  }
  
  .aboutus{
      text-align: center;
      background-color: rgb(255, 255, 255);
      border-top-left-radius: 200px;
      border-top-right-radius: 200px;
      border-bottom-left-radius: 500px;
      border-bottom-right-radius: 500px;
  
  }
  .aboutus h1{
    padding: 20px;
  }
}

@media screen and (max-width:815px){
  #ABOUTUS{
    background-color: #f0eeee;
    padding: 25px;
    border-radius: 20px;
  }
  #ABOUTUS p{
    color: rgb(0, 0, 0);
    font-size: 14px;
  
   
    
  }
  
  .aboutus{
      text-align: center;
      background-color: rgb(255, 255, 255);
      border-top-left-radius: 200px;
      border-top-right-radius: 200px;
      border-bottom-left-radius: 500px;
      border-bottom-right-radius: 500px;
  
  }
  .aboutus h1{
    padding: 18px;
  }
}
@media screen and (max-width:744px){
  #ABOUTUS{
    background-color: #f0eeee;
    padding: 23px;
    border-radius: 20px;
  }
  #ABOUTUS p{
    color: rgb(0, 0, 0);
    font-size: 12px;
  
   
    
  }
  
  .aboutus{
      text-align: center;
      background-color: rgb(255, 255, 255);
      border-top-left-radius: 200px;
      border-top-right-radius: 200px;
      border-bottom-left-radius: 500px;
      border-bottom-right-radius: 500px;
  
  }
  .aboutus h1{
    padding: 16px;
  }
}

@media screen and (max-width:506px){
  #ABOUTUS{
    background-color: #f0eeee;
    padding: 22px;
    border-radius: 20px;
  }
  #ABOUTUS p{
    color: rgb(0, 0, 0);
    font-size: 12px;
  
   
    
  }
  
  .aboutus{
      text-align: center;
      background-color: rgb(255, 255, 255);
      border-top-left-radius: 180px;
      border-top-right-radius: 180px;
      border-bottom-left-radius: 480px;
      border-bottom-right-radius: 480px;
  
  }
  .aboutus h1{
    padding: 15px;
  }
}

@media screen and (max-width:398px){
  #ABOUTUS{
    background-color: #f0eeee;
    padding: 20px;
    border-radius: 20px;
  }
  #ABOUTUS p{
    color: rgb(0, 0, 0);
    font-size: 10px;
  
   
    
  }
  
  .aboutus{
      text-align: center;
      background-color: rgb(255, 255, 255);
      border-top-left-radius: 180px;
      border-top-right-radius: 180px;
      border-bottom-left-radius: 480px;
      border-bottom-right-radius: 480px;
  
  }
  .aboutus h1{
    padding: 12px;font-size: 18px;
  }
}

@media screen and (max-width:320px){
  #ABOUTUS{
    background-color: #f0eeee;
    padding: 14px;
    border-radius: 20px;
  }
  #ABOUTUS p{
    color: rgb(0, 0, 0);
    font-size: 10px;
  
   
    
  }
  
  .aboutus{
      text-align: center;
      background-color: rgb(255, 255, 255);
      border-top-left-radius: 180px;
      border-top-right-radius: 180px;
      border-bottom-left-radius: 480px;
      border-bottom-right-radius: 480px;
  
  }
  .aboutus h1{
    padding: 12px;font-size: 18px;
  }
}


#adress{
  padding: 30px;
  background: #d6d0d0
}
.adress{
text-align: center;
line-height: 25px;
}
.adress h1{
  margin-top: 20px;
  
  font-size: 2.5rem;
}
.contact1{
  text-align: center;
  word-spacing: 3px;
  font-size: 2.5rem;
  margin-bottom: 15px;
  text-decoration: 2px 2px 3px white;
}
.lab1{
  width: 50px;
  height: 50px;
}
#footer{
  background: rgb(187, 206, 224);
  height: auto;
}
.labcare4{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}